node_modules/
dist/
.env
.DS_Store
*.local
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
public/assets/music/Retro Sounds 32-Bit
public/assets/RPG_Essentials_Free
public/assets/music/pc98 vn bgm pack
public/assets/sounds/Minifantasy_Dungeon_SFX